﻿@model IEnumerable<RecruitmentTask.Web.Models.Employees>

@{
    ViewBag.Title = "Employees list";
    int nextPage = 0;
    int prevPage = ViewBag.StartIndex - Convert.ToInt32(System.Web.Configuration.WebConfigurationManager.AppSettings["noOfElements"]);

}

<h2>Employees</h2>
@{ 

}
<form method="get">
    <label>Filter by job title</label>
    @Html.DropDownList("job", (IEnumerable<SelectListItem>)ViewBag.ListItems, new { @class = "form-control" })
    
    <input type="submit" />

</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobTitle)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.id })

            </td>
        </tr>
        nextPage = item.id;
    }

</table>

<p>
        @if (ViewBag.JobFilter != "All")
        {
            @Html.ActionLink("Show all", "Index", new { skip = ViewBag.StartIndex });
        }
        else
        {
            if (Model.First().id > 1)
            {
                @Html.ActionLink("Previous page | ", "Index", new { skip = prevPage });
            }

            if (Model.Count() == 20)
            {
                @Html.ActionLink("Next page", "Index", new { skip = nextPage })
            }
        }
    

</p>
